@model MyChicken.Models.Order

@{
    ViewBag.Title = "Summary";
}

<h2>RECAPITULATIF</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                Date de livraison
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeliveryDate)
            </dd>
            <dt>
                Montant total
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>
        </dl>
    </div>
    <div>
        @Html.Partial("_OrderPartial",Model.OrderProduct)
    </div>
</div>
<p>
    @Html.ActionLink("Mes Commandes", "MyList")
</p>
