@model MyChicken.Models.Order

@{
    ViewBag.Title = "Summary";
}

<h2>RECAPITULATIF</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                Date de livraison
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                @Model.DeliveryDate.ToString("dd'/'MM'/'yyyy")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                Montant Total
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                @Model.TotalAmount.ToString("### ###")
            </div>
        </div>
    </div>
    <div>
        @Html.Partial("_OrderPartial",Model.OrderProduct)
    </div>
</div>
<p>
    @Html.ActionLink("Mes Commandes", "MyList")
</p>
